<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cover</title>
        <link rel="icon" href="https://www.kt.com/favicon.ico">
        <link rel="stylesheet" href="../static/css/main.css">
        <!-- web font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        {% include 'header.html' %}
        <main class="contents">
            <section class="wrap">
                <h1>404 There is no page.</h1>
                <a href="/" style="color: white">Move to index page.</a>
            </section>
        </main>
        <footer>
            <p>All rights reserved. ©KT</p>
        </footer>
    </body>
</html>
