<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>충남/충북 25조</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-nav nav-menu">
              <a class="navbar-brand" href="#"><img class="homeIcon" src="../static/homeIcon.png" alt="홈 아이콘"/></a>
                <a class="nav-link" href="https://aivle.kt.co.kr/home/main/indexMain">Apply</a>
                <a class="nav-link" href="/chatgpt/">하나만 물어봐요</a>
                <a class="nav-link" href="/selfchatgpt/">대화하고 싶어요</a>
                <a class="nav-link" href="/login/">로그인</a>
                <a class="nav-link" href="/signup/">회원가입!</a>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <div class="row">
                <!-- Text column -->
                <div class="col">
                    <h1>기업이 원하는 실무에 강한 인재</h1>
                    <p class="lead">KT 에이블스쿨</p>
                    <p>안녕하세요. 반가워요. 잘있어요. 다시 만나요~ 아침 해가 뜨면 아침해가 뜨면 </p>
                    <div class="buttons">
                        <a href="#" class="btn primary">하나만 물어봐요!</a>
                        <a href="#" class="btn secondary">대화하고 싶어요!</a>
                    </div>
                </div>
            </div>
        </div>
    </header>          
    <footer>
        <span>© 2024 KtAivle 5th 25. All rights reserved.</span>
    </footer>
</body>
</html>